name: release

permissions:
  contents: write

on:
  push:
    branches: [ main ]
    paths: [ CHANGELOG.md ]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.24

    - name: Get the latest version
      id: latest
      uses: miniscruff/changie-action@v2
      with:
        version: latest
        args: latest

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        body_path: ".changes/${{ steps.latest.outputs.output }}.md"
        tag_name: "${{ steps.latest.outputs.output }}"

